.button{
  background-color: #14264e !important;
  color: #ecb44b !important;
}
li {
  list-style-type: none
}
.about{
  margin-top: 120px;
}
.treatment-list {
  box-sizing: content-box !important
}

@media only screen and (max-width: 990px) {
  .treatment-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  

  .treatment-list li {
    margin-bottom: 0.5em;
  }
}

@media only screen and (max-width: 455px) {
  .treatment-list li {
    width: 100%;
  }
}

@media only screen and (min-width: 456px) and (max-width: 600px) {
  .treatment-list li {
    width: 49%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 990px) {
  .treatment-list li {
    width: 32%;
  }
}

@media only screen and (min-width: 991px) and (max-height: 740px) {
  .treatment-list {
    text-align: center;
    transform: rotate(-45deg);
    transform-origin: center center;
    width: 507px;
    margin: 0 auto;
    margin-bottom: 5em;
  }

  .treatment-list::before,
  .treatment-list::after {
    content: " ";
    display: table;
  }

  .treatment-list::after {
    clear: both;
  }

  .treatment-list li {
    float: left;
    display: block;
  }

  .treatment-list li:nth-child(2),
  .treatment-list li:nth-child(4),
  .treatment-list li:nth-child(5),
  .treatment-list li:nth-child(7) {
    margin-left: -1px;
  }

  .treatment-list li:nth-child(n + 3) {
    margin-top: -1px;
  }

  .treatment-list li:nth-child(3n) {
    clear: left;
  }

  .treatment-list li:nth-child(6) {
    margin-left: 131px;
  }

  .treatment-list .container_treatment {
    display: table;
    width: 120px;
    height: 120px;
    transform: rotate(45deg);
  }

  .treatment-list span {
    display: table-cell;
    vertical-align: middle;
  }
}

@media only screen and (min-width: 991px) and (min-height: 741px) {
  .treatment-list {
    text-align: center;
    transform: rotate(-45deg);
    transform-origin: center center;
    width: 520px;
    margin: 0 auto;
    margin-bottom: 5em;
  }

  .treatment-list::before,
  .treatment-list::after {
    content: " ";
    display: table;
  }

  .treatment-list::after {
    clear: both;
  }

  .treatment-list li {
    float: left;
    display: block;
  }

  .treatment-list li:nth-child(2),
  .treatment-list li:nth-child(4),
  .treatment-list li:nth-child(5),
  .treatment-list li:nth-child(7) {
    margin-left: -1px;
  }

  .treatment-list li:nth-child(n + 3) {
    margin-top: -1px;
  }

  .treatment-list li:nth-child(3n) {
    clear: left;
  }

  .treatment-list li:nth-child(6) {
    margin-left: 171px;
  }

  .treatment-list .container_treatment {
    display: table;
    width: 160px;
    height: 160px;
    transform: rotate(45deg);
  }

  .treatment-list span {
    display: table-cell;
    vertical-align: middle;
  }
}

.treatment {
  display: block;
  text-decoration: none;
  border: 1px solid #555;
  font-size: 12px;
  color: #FFF;
  text-transform: uppercase;
  background-position: center center;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 990px) {
  .treatment {
    background-size: cover;
    padding: 0.3em;
    background-clip: content-box;
  }

  .treatment span {
    display: block;
    padding: 1em 0.5em;
  }
}

@media only screen and (min-width: 991px) and (max-height: 740px) {
  .treatment {
    font-size: 13px;
    background-size: 120px 120px;
  }

  .treatment>div {
    margin: 5px;
    width: 120px;
    height: 120px;
  }

  .font {
    font-size: 0.2rem;
    line-height: 1.7;
    color: #333;
  }
}
@media only screen and (max-width: 990px) {
  .service {
    display: none !important;
  }
}

@media only screen and (min-width: 991px) and (min-height: 741px) {
  .treatment {
    background-size: 120px 120px;
  }

  .treatment>div {
    margin: 5px;
  }
}

.treatment>div {
  background: rgba(102, 133, 179, 0.9);
  transition: background 0.2s ease;
}

.treatment>div:hover {
  background: rgba(22, 144, 147, 0);
}

.treatment span {
  opacity: 1;
  transition: opacity 0.2s ease;
}

.treatment span:hover {
  opacity: 0;
}

.treatment:focus {
  outline: none;
}

.treatment--5 {
  background-image: url(https://via.placeholder.com/150);
}

.treatment--6 {
  background-image: url(https://via.placeholder.com/150);
}

.treatment--3 {
  background-image: url(https://via.placeholder.com/150);
}

.treatment--4 {
  background-image: url(https://via.placeholder.com/150);
}

.treatment--1 {
  background-image: url(https://via.placeholder.com/150);
}

.treatment--2 {
  background-image: url(https://via.placeholder.com/150);
}

.treatment--7 {
  background-image: url(https://via.placeholder.com/150);
}


.service {
  background-color: #fff;
  height: auto;
  width: auto;
  box-shadow: 4px 4px 60px 8px rgba(1, 38, 119, 0.2);
  border-radius: 10px;
}
.largura-site{
  margin-top: -40px;
  margin-right: 30px;
}

.service h1 {
  color: rgb(74, 80, 90);
}

.service p {
  color: rgb(55, 66, 83);
}

/* new css */

/* Optional: styling for paragraph text */
.font {
  font-size: 1rem;
  line-height: 1.7;
  color: #333;
}

/* Shadow effect */
.shadow-sm {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}